// ****** BUTTONS PRIMARY ****** //
$header-background: var(--header-background, #0E4C92);
$dropdown-background: var(--dropdown-background, #0E4C92);
$header-color: var(--header-color, #fff);
$checkbox-color: var(--checkbox-color, #6370f0);