// ****** BUTTONS PRIMARY ****** //
$header-background: var(--header-background, #EBECF0);
$dropdown-background: var(--dropdown-background, #EBECF0);
$header-color: var(--header-color, #000);
$checkbox-color: var(--checkbox-color, #000);
$table-row-background: var(--table-row-background, #EBECF0);
$table-row-color: var(--table-row-color, #000);
$table-row-border: var(--table-row-border, '1px solid #fff');
$card-background: var(--card-background, #6370f0)

